[Unit]
Description=Mubeng proxy pools
ConditionFileIsExecutable=/usr/bin/mubeng
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=10

[Service]
ExecStartPre=/usr/bin/mubeng --config /etc/mubeng/pools.json --validate-config
ExecStart=/usr/bin/mubeng --config /etc/mubeng/pools.json --method random --timeout 45s --max-redirs 0 --rotate-on-error --max-retries 3 --metrics :9090 --no-mitm --sticky --sticky-ttl 3m
Restart=always
RestartSec=5
TimeoutStopSec=20
EnvironmentFile=-/etc/sysconfig/mubeng
StandardOutput=append:/var/log/proxy/mubeng.log
StandardError=append:/var/log/proxy/mubeng.err.log

[Install]
WantedBy=multi-user.target
